<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>lza's node-express-demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
    </style>
</head>

<body class="container">
    <header>
        <!-- <% include ./header %> -->
    </header>

    <main>
        <div class="jumbotron">
            <h1>
                <%=title%>
            </h1>
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

    </main>

    <footer>
        <!-- <% include ./footer %> -->
    </footer>
</body>

</html>