<!DOCTYPE html>
<html>

<head>
    <title>用户编辑页面</title>
</head>

<body>
    <form action="/users/update" method="post">
        <input type="hidden" name="id" value="<%= user._id %>">
        <input type="text" name="username" value="<%= user.username %>">
        <input type="email" name="email" value="<%= user.email %>">
        <button type="submit">确认</button>
    </form>
</body>

</html>