<!DOCTYPE html>
<html>

<head>
    <title>添加用户</title>
</head>

<body>
    <form action="/users/add" method="post">
        <label for="username">用户名</label>
        <input type="text" name="username" value="">
        <label for="email">邮箱</label>
        <input type="email" name="email" value="">
        <button type="submit">添加</button>
    </form>
    <script>
    </script>
</body>

</html>