<!DOCTYPE html>
<html>

<head>
    <title>添加用户</title>
    <!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js" /> -->

</head>

<body>
    <form action="/users/add" method="post">
        <label for="username">用户名</label>
        <input type="text" id="username" value="">
        <label for="email">邮箱</label>
        <input type="email" id="email" value="">
        <button type="submit">添加</button>
    </form>
    <script>
        // $('#')
    </script>
</body>

</html>