<!DOCTYPE html>
<html>

<head>
    <title>用户列表页面</title>
</head>

<body>
    <a href="/users/add/"> 添加 </a>
    <table>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <% for(var i in user){ %>
            <tr>
                <td>
                    <%= user[i].username %>
                </td>
                <td>
                    <%= user[i].email %>
                </td>
                <td>
                    <div>
                        <a href="/users/edit/<%= user[i]._id %>"> 编辑 </a>
                        <a href="#" class="del" data-id="<%= list[i]._id %>"> 删除 </a>
                    </div>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>